@page
@model ChoreMgr.Pages.Shared.UnauthorizedModel
Unauthorized access has been logged. Please return to home page to log in.
<div class="row">
    <div class="col-md-4">
        <form asp-page="Process" method="post">
            <label asp-for="DauthCode" class="control-label"></label>
            <input asp-for="Instruction" readonly class="form-control" />
            <input name="DauthCode" />
            <input type="submit" value="Access" class="btn btn-primary" />
        </form>
     </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}