@page
@model ChoreMgr.Pages.Chores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Chore.Id" />
            <div class="form-group">
                <label asp-for="Chore.Name" class="control-label"></label>
                <input asp-for="Chore.Name" class="form-control" />
                <span asp-validation-for="Chore.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chore.IntervalDays" class="control-label"></label>
                <input asp-for="Chore.IntervalDays" class="form-control" />
                <span asp-validation-for="Chore.IntervalDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chore.LastDone" class="control-label"></label>
                <input asp-for="Chore.LastDone" class="form-control" />
                <span asp-validation-for="Chore.LastDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page-handler="Delete" asp-route-id="@Model.Chore.Id">Delete</a>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
