@page
@model ChoreMgr.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>

<head>
    <title>Barefoot Homepage</title>
    <link rel="stylesheet" href="css/DanStyle.css" type="text/css"> 
	<link rel="shortcut icon" href="home.ico">
</head>

<body>
    <h1>Simplest Home Page</h1>
    <div style ="float:right;width:300px">
        <iframe src="http://free.timeanddate.com/clock/i3a2durd/n419/fn8/fs16/bas2/bacfff/pa8/tt0/tw1/tm1/th1/ta1/tb4" border="0" width="183" height="56" style="margin-left: 40px"></iframe>
    </div>
    <!-- div style="float:top;width:600px">
        <h2>Top</h2>
    </div -->

    <div style="float:left;width:300px">
        <h2>School</h2>
        <a href="https://portal.wvu.edu/">Portal</a>
        <a href="https://lib.wvu.edu/">Library</a>
        <a href="https://cas-ecampus.wvu.edu/">eCampus</a>
        <a href="http://ieeexplore.ieee.org.www.libproxy.wvu.edu/Xplore/home.jsp">WVU IEEE</a>
        <h2>Training</h2>
        <a href="https://wwws.mint.com/overview.event">Mint</a>
        <a href="https://www.coursera.org/">Coursera</a>
        <h2>Mail</h2>
        <a href="https://mail.google.com/mail/u/0/?tab=nm#inbox">Gmail</a>|<a href="https://www.google.com/calendar">Calendar</a>
        <a href="https://outlook.com">MSN</a>
    </div>       
    <div style="float: left; width: 300px; " >
        <h2>Read</h2>   
        <a href="http://feedly.com/i/category/Tech%20News">Feedly</a>
        <a href="http://www.lemonde.fr/">Le Monde</a>
        <a href="http://sport24.lefigaro.fr/rugby">Le Figaro Rugby</a>
        <a href="http://www.bing.com/news/">News</a>
        <a href="https://read.amazon.com/">Kindle</a>
        <a href="http://wamu.org/audio-player">NPR</a>
        <a href="http://www.wtmd.org/player/index.html">WTMD</a>
        <h2>Search</h2>
        <a href="http://onedrive.live.com"> OneDrive</a>
        <a href="http://bing.com"> Bing</a>
        <a href="http://google.com"> Google</a>
        <a href="https://drive.google.com/drive/recent">gDrive</a>
        <p/>
    </div>
    
    <div style="clear:both;width:600px">
        <h2>
            Shortcuts
        </h2>
        <table border="1">
            <tr>
                <th>Key</th>
                <th>Action</th>
                <th>Key</th>
                <th>Action</th>
                <th>Key</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><img src="assets/winkey.png" /> + Tab</td>
                <td>Task View</td>
                <td><img src="assets/winkey.png" /> + A</td>
                <td><b>A</b>ction Center</td>
                <td><img src="assets/winkey.png" /> + C</td>
                <td><b>C</b>ortana w/ Speech</td>
            </tr>
            <tr>
                <td><img src="assets/winkey.png" /> + E</td>
                <td><b>E</b>xplorer</td>
                <td><img src="assets/winkey.png" /> + G</td>
                <td><b>G</b>ame Bar</td>
                <td><img src="assets/winkey.png" /> + H</td>
                <td>S<b>h</b>are</td>
            </tr>
            <tr>
                <td><img src="assets/winkey.png" /> + K</td>
                <td><b>K</b>onnect</td>
                <td><img src="assets/winkey.png" /> + R</td>
                <td><b>R</b>un</td>
                <td><img src="assets/winkey.png" /> + 1</td>
                <td>First Pinned App</td>
            </tr>
            <tr>
                <td><img src="assets/winkey.png"/>+Ctrl+D</td>
                <td>New Virtual <b>D</b>esktop</td>
            </tr>
        </table>
    </div>
</body>
</html>


